@import "tailwindcss";
@import "./fonts.css";
@import "./fontawesome.css";
@import "./brands.min.css";
@import "./solid.min.css";
@import "./tippy.css";

@theme {
  --font-vazir: "Vazirmatn";
  --font-rokh: "Rokh";
  --color-primary: #bd1f26;
  --color-secondary: #f7d20f;
}

@layer base {
  * {
    @apply font-vazir;
  }

  .btn-1 {
    @apply rounded-2xl size-12 bg-primary flex justify-center items-center cursor-pointer active:scale-[0.95] transition-all duration-200;
    & i {
      @apply text-secondary text-xl;
    }
  }
}
