@import "tailwindcss";
@import "./fonts.css";
@import "./fontawesome.css";
@import "./brands.min.css";
@import "./solid.min.css";
@import "./tippy.css";

@theme {
  --font-vazir: "Vazirmatn";
  --font-rokh: "Rokh";
  --color-primary: #bd1f26;
  --color-secondary: #f7d20f;
}

@layer base {
  * {
    @apply font-vazir;
  }

  .btn-1 {
  }
}
