/* Vazirmatn Font Family */
@font-face {
    font-family: "Vazirmatn";
    font-style: normal;
    font-weight: 100;
    src: url("/fonts/Vazirmatn-Thin.woff2") format("woff2");
}

@font-face {
    font-family: "Vazirmatn";
    font-style: normal;
    font-weight: 200;
    src: url("/fonts/Vazirmatn-ExtraLight.woff2") format("woff2");
}

@font-face {
    font-family: "Vazirmatn";
    font-style: normal;
    font-weight: 300;
    src: url("/fonts/Vazirmatn-Light.woff2") format("woff2");
}

@font-face {
    font-family: "Vazirmatn";
    font-style: normal;
    font-weight: 400;
    src: url("/fonts/Vazirmatn-Regular.woff2") format("woff2");
}

@font-face {
    font-family: "Vazirmatn";
    font-style: normal;
    font-weight: 500;
    src: url("/fonts/Vazirmatn-Medium.woff2") format("woff2");
}

@font-face {
    font-family: "Vazirmatn";
    font-style: normal;
    font-weight: 600;
    src: url("/fonts/Vazirmatn-SemiBold.woff2") format("woff2");
}

@font-face {
    font-family: "Vazirmatn";
    font-style: normal;
    font-weight: 700;
    src: url("/fonts/Vazirmatn-Bold.woff2") format("woff2");
}

@font-face {
    font-family: "Vazirmatn";
    font-style: normal;
    font-weight: 800;
    src: url("/fonts/Vazirmatn-ExtraBold.woff2") format("woff2");
}

@font-face {
    font-family: "Vazirmatn";
    font-style: normal;
    font-weight: 900;
    src: url("/fonts/Vazirmatn-Black.woff2") format("woff2");
}

/* RokhFaNum Font Family */
@font-face {
    font-family: "Rokh";
    font-style: normal;
    font-weight: 500;
    src: url("/fonts/RokhFaNum-Medium.woff2") format("woff2");
}

@font-face {
    font-family: "Rokh";
    font-style: normal;
    font-weight: 600;
    src: url("/fonts/RokhFaNum-SemiBold.woff2") format("woff2");
}

@font-face {
    font-family: "Rokh";
    font-style: normal;
    font-weight: 700;
    src: url("/fonts/RokhFaNum-Bold.woff2") format("woff2");
}